<div class="card">
   <div class="row">
      {{#each products }}
      <div class="col-md-3">
         <img class="card-img-top" src="{{ image }}" width="35" height="300">
         <div class="card-body">
            <h5 class="card-title">{{ model}}</h5>
         </div>
      </div>
      {{/each}}
   </div>
</div>