<form action="/material/edit/{{ material._id }}" method="post">
   <h1>Edit brand</h1>
   Material name: <input type="text" name="name" id="" value="{{ material.name }}" required>
   <br><br>
   <input type="submit" value="Edit">
</form>